
@{
    ViewBag.Title = "Home Page";
}

<div class="landing">
    <div class="text">
        <h1 class="text-capitalize">find your property</h1>
    </div>
    <div class="landing-card">
        <form action="~/Home/Properties" method="GET">
            <h4>i'm looking for</h4>
            <div class=" row">
                <div class="one col-md-6 ">
                    @*property type <i class="ps-3 fa-solid fa-caret-down"></i>*@
                    <select class=" three" name="PropertyType">
                        <option>Property Type</option>
                        @if (ViewBag.tbProperty_Masters != null)
                        {
                            foreach (var item in ViewBag.tbProperty_Masters)
                            {
                                <option style="display:inline"><b>@item.Property_Type</b></option>

                            }
                        }
                    </select>
                </div>
                <div class="six col-md-6 test">
                    @*<input type="text" placeholder="enter location" />*@
                    <div class="row">
                        <div class=" col-md-10 ">
                            <select class=" three " name="Location">
                                <option>Enter Location</option>
                                @if (ViewBag.cities != null)
                                {
                                    foreach (var item in ViewBag.cities)
                                    {
                                        <option style="display:inline"><b>@item.Name</b></option>

                                    }
                                }
                            </select>
                        </div>
                        <div class=" col-md-2">
                            <img class="map " style="display:inline" src="~/images/map.svg" alt="" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="  row">
                <div class="four col-md-6">
                    <select class="three" name="Beds">
                        <option>Beds</option>
                        @if (ViewBag.eBedroom_Masters != null)
                        {
                            foreach (var item in ViewBag.eBedroom_Masters)
                            {
                                <option style="display:inline"><b>@item.Bedrooms</b></option>

                            }

                        }
                    </select>

                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="tow col-md-6">
                            <select class=" five" name="min_price">
                                <option>Min Price</option>
                                @if (ViewBag.pricesList != null)
                                {
                                    foreach (var item in ViewBag.pricesList)
                                    {
                                        <option style="display:inline"><b>@item.Roundoff_Value</b></option>

                                    }

                                }
                            </select>
                        </div>
                        <div class="tow col-md-6">
                            <select class=" five" name="max_price">
                                <option>Max Price</option>
                                @if (ViewBag.pricesList != null)
                                {
                                    foreach (var item in ViewBag.pricesList)
                                    {
                                        <option style="display:inline"><b>@item.Roundoff_Value</b></option>

                                    }

                                }
                            </select>
                        </div>

                    </div>
                </div>

            </div>

            <div class="search"><button>search</button></div>
        </form>
    </div>
</div>

@if (ViewBag.tbTestimonialsList != null && ViewBag.tbTestimonialsList.Length > 0)
{
    <div class="home p-5">
        <div class="container">
            <h1 class="text-center p-5 fw-bold">Client Testimonials</h1>
            <div class="home-row">
                <div class="d-flex home-cards">
                    @foreach (var item in ViewBag.tbTestimonialsList)
                    {
                        <div class="card col-12 col-md-6 col-lg-4 p-3">
                            <h3 class="fw-bold">@item.Name</h3><br />
                            <div class="stars d-flex pb-4">
                                @for (int j = 0; j < int.Parse(@item.Starcount); j++)
                                {
                                    <span class="fa fa-star checked"></span>
                                }
                                @for (int k = int.Parse(@item.Starcount); k < 5; k++)
                                {
                                    <span class="fa fa-star unchecked"></span>
                                }
                            </div><br />
                            <p><b>@item.Comment</b></p><br />

                        </div>
                    }

                </div>
            </div>
            <div class="left-arrow arrow">
                <i class="fa-solid fa-chevron-left"></i>
            </div>
            <div class="right-arrow arrow">
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </div>
    </div>
}
@if (ViewBag.Properties != null && ViewBag.Properties.Length > 0)
{
    <div class="offers p-5">
        <div class="container">
            <h2 class="text-center p-5 tw-bold">
                Discover the property that's perfect for you
            </h2>
            <div class="d-flex navigations">
                <div class="left d-flex">
                    <div class="icons">
                        <i class="fa-solid fa-house-chimney-window pe-2"></i>
                        <i class="fa-solid fa-arrow-left-long"></i>
                    </div>
                    <p>Most viewed properties</p>
                </div>
                <div class="right d-flex">
                    <p>Explore All</p>
                    <div class="icons">
                        <i class="fa-solid fa-arrow-right-long"></i>
                    </div>
                </div>
            </div>
            <div class="offers-row">
                <div class="first-row d-flex">
                    @for (int i = 0; i < ViewBag.Properties.Length; i++)
                    {

                        <div class="offers-card col-lg-4 col-md-6 col-12 p-0" onclick="OnUnitClick(@{@Html.Raw(ViewBag.Properties[i].RecordId)})">
                            <div class="image image1">
                                <img img class="d-block w-100 image1" src="@{@Html.Raw(ViewBag.Properties[i].ImagePath1)}" alt="freemyip.com/@{@Html.Raw(ViewBag.Properties[i].Name)}">

                            </div>
                            <a href="~/PropertyDetails/Index/@{@Html.Raw(ViewBag.Properties[i].RecordId)}" class="property-img">

                                <div class="py-4 px-3">
                                    <h4 class="fw-bold">
                                        <a href="~/PropertyDetails/Index/@{@Html.Raw(ViewBag.Properties[i].RecordId)}">@{@Html.Raw(ViewBag.Properties[i].Name)}</a>
                                    </h4>
                                    <p class="text-black-50 align-items-center">
                                        <img class="pe-2" src="images/map.svg" alt="" />@{@Html.Raw(ViewBag.Properties[i].Location)}
                                    </p>
                                    <div class="d-flex">
                                        <div class="d-flex p-2 pe-4">
                                            <i class="pe-2 fa-solid fa-bed"></i>
                                            <p>
                                                <a href="~/PropertyDetails/Index/@{@Html.Raw(ViewBag.Properties[i].RecordId)}">
                                                    <i class="flaticon-pin"></i>@{@Html.Raw(ViewBag.Properties[i].Type)}
                                                </a>
                                            </p>
                                        </div>
                                        <div class="size-div d-flex p-2">
                                            <i class="pe-2 fa-regular fa-square-plus"></i>
                                            <p>@{@Html.Raw(ViewBag.Properties[i].Size)} SQ.FT</p>
                                        </div>
                                        @if (ViewBag.Properties[i].Rooms != "0")
                                        {
                                            <div class="size-div d-flex p-2">
                                                <i class="pe-2 fa-regular fa-square-plus"></i><p> @{@Html.Raw(ViewBag.Properties[i].Rooms)}</p>
                                            </div>
                                        }
                                        @if (ViewBag.Properties[i].Floor != "0")
                                        {
                                            <div class="size-div d-flex p-2">
                                                <i class="pe-2 fa-regular fa-square-plus"></i><p>   @{@Html.Raw(ViewBag.Properties[i].Floor)}</p>
                                            </div>
                                        }
                                    </div>


                                    <div class="button-div d-flex p-2 align-items-center">
                                        <button>book now</button>
                                        <h4>AED @{@Html.Raw(ViewBag.Properties[i].Price)}</h4>
                                    </div>
                                </div>
                            </a>

                        </div>


                    }
                    <div class="left-arrow1 arrow">
                        <i class="fa-solid fa-chevron-left"></i>
                    </div>

                    <div class="right-arrow2 arrow">
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Featured Properties end -->
}



<div class="land-sterling">
    <div class="text">
        <h2 class="d-flex"><span>l</span><span>a</span><span>n</span><span class="pe-3">d</span> <span>s</span><span>t</span><span>e</span><span>r</span><span>l</span><span>i</span><span>n</span><span>g</span></h2>
        <h1>Property Snagging and Inspections</h1>
        <p>Be confident in purchasing a property.</p>
        <button>Get a free quotation</button>
    </div>
</div>

<div class="tabs">
    <div class="tab-header">
        <div class="active " id="location-header">
            By Location
        </div>
        <div id="Property-type-header">
            By Property Type
        </div>
    </div>

    <div class="tab-body p-5" >

        <div class="row active" id="by-location">

            <div class="col-lg-4 col-md-6 col-sm-12 sm-m-3">
                <h5 class="fw-bold">Dubai Apartments</h5>
                <p>
                    @if (ViewBag.DubaiApartments != null && ViewBag.DubaiApartments.Length > 0)
                    {
                        for (int i = 0; i < ViewBag.DubaiApartments.Length; i++)
                        {

                            @Html.Raw(ViewBag.DubaiApartments[i].Community_No) <br />
                        }
                    }
                </p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <h5 class="fw-bold">Abu Dhabi Apartments</h5>
                <p>
                    @if (ViewBag.AbuDahbiApartments != null && ViewBag.AbuDahbiApartments.Length > 0)
                    {
                        for (int i = 0; i < ViewBag.AbuDahbiApartments.Length; i++)
                        {

                            @Html.Raw(ViewBag.AbuDahbiApartments[i].Community_No) <br />
                        }
                    }
                </p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <h5 class="fw-bold">Apartments in other locations</h5>
                <p>
                    @if (ViewBag.otherCountries != null && ViewBag.otherCountries.Length > 0)
                    {
                        for (int i = 0; i < ViewBag.otherCountries.Length; i++)
                        {

                            @Html.Raw(ViewBag.otherCountries[i].City) <br />

                        }
                    }
                </p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <h5 class="fw-bold">Dubai Villas</h5>
                <p>
                    @if (ViewBag.DubaiApartments != null && ViewBag.DubaiApartments.Length > 0)
                    {
                        for (int i = 0; i < ViewBag.DubaiApartments.Length; i++)
                        {

                            @Html.Raw(ViewBag.DubaiApartments[i].Community_No) <br />
                        }
                    }
                </p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <h5 class="fw-bold">Abu Dhabi Villas</h5>
                <p>
                    @if (ViewBag.AbuDahbiApartments != null && ViewBag.AbuDahbiApartments.Length > 0)
                    {
                        for (int i = 0; i < ViewBag.AbuDahbiApartments.Length; i++)
                        {

                            @Html.Raw(ViewBag.AbuDahbiApartments[i].Community_No) <br />
                        }
                    }
                </p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <h5 class="fw-bold">Villlas in other locations</h5>
                <p>
                    @if (ViewBag.otherCountries != null && ViewBag.otherCountries.Length > 0)
                    {
                        for (int i = 0; i < ViewBag.otherCountries.Length; i++)
                        {

                            @Html.Raw(ViewBag.otherCountries[i].City) <br />
                        }
                    }

                </p>
            </div>
        </div>


        <div  class="hide-div row" id="by-property-type">


            @if (ViewBag.tbProperty_Masters != null)
            {
                <h5 class="fw-bold">The property Type</h5>
                foreach (var item in ViewBag.tbProperty_Masters)
                {
                    <div class="d-block col-5">
                        <p> @item.Property_Type </p>
                    </div>


                }
            }


        </div>

    </div>
</div>



@Html.Partial("ContactUs")




@*<section id="ContactUS">*@

@*@Html.Action("ContactUs", "Home", new { path = "~/Contact.cshtml" })*@
@*</section>*@




<script>
    let LocationHeader = document.getElementById("location-header");
    let propertyHeader = document.getElementById("Property-type-header")
    let byPropertytype = document.getElementById("by-property-type");
    let bylocation = document.getElementById("by-location")

    LocationHeader.addEventListener("click", function () {
        propertyHeader.classList.remove("active")
        LocationHeader.classList.add("active");
        
        byPropertytype.classList.add("hide-div")
        bylocation.classList.remove("hide-div")
    })

    propertyHeader.addEventListener("click", function () {
        LocationHeader.classList.remove("active")
        propertyHeader.classList.add("active");
       
        bylocation.classList.add("hide-div")
        byPropertytype.classList.remove("hide-div")
    })




    

</script>